{% extends 'PumukitWebTVBundle::layout.html.twig' %} {% block body %}
<div class="static_content">
  <h2>Contact the Up2U team, responsible for edu<span style="color:#e81657">OER</span></h2>
  <ul>
    <li>GRNET S.A., Nikos Mastoris, <a href="mailto:nmastoris@grnet.gr?subject=Up2U eduOER contact">nmastoris@grnet.gr</a></li>
    <li>TELTEK VIDEO RESEARCH, Rub&#233;n Gonz&#xe1;lez, <a href="mailto:up2u.eduoer@teltek.es?subject=Up2U eduOER contact">up2u.eduoer@teltek.es</a></li>
  </ul>
</div>
{% endblock %}
