{% extends 'PumukitWebTVBundle::layout.html.twig' %} {% block body %}


<div class="static_content">
    <h2>The edu<span style="color:#e81657">OER</span> Up2U service</h2>
    <p class="intro">
      Open educational resources (OER) are rapidly becoming a major factor for education at all levels. During the last years, the OER community has grown considerably and the impact of OER on educational systems has become an issue of public policy. In this context, the Up2U community decided to include the edu<span style="color:#e81657">OER</span> service, in order to help the Up2U community (students, educators, trainers), to find content across diverse resources, disciplines and countries.
    </p>

    <p>
      The Up2U edu<span style="color:#e81657">OER</span> service provides users with the means to search and find open educational multimedia content in order to re-use, revise, remix or redistribute it. The content is divided by repository catalog (coming from various Universities, NRENs, European organizations etc.) and by subject.
    </p>

    <p>
      The edu<span style="color:#e81657">OER</span> service portal was initially created by <a class="static_link" href="http://www.geant.org/About/Pages/Home.aspx" target="_blank">GEANT</a>, the leading collaboration on e-infrastructure and services for research and education, in collaboration with several National Research and Education Networks.
    </p>

    <p>
      A number of services has been developed for the content (metadata) providers, such as metadata analytics, validation, mapping and transformation against selected application profiles, monitoring via dashboards etc. You can find details on those services <a class="static_link" href="https://oer.geant.org/services-for-content-providers/" target="_blank">here</a>.
    </p>

    <p>
      This Web Portal is using the open-source <a class="static_link" href="http://pumukit.org/" target="_blank">PuMuKit software platform</a> as the basis of the web portal development. At technical level, the web front-end portal’s objective is to connect, harvest, and regularly synchronize metadata with the aggregation back-end engine via the latest <a class="static_link" href="https://services.oer.geant.org/search/" target="_blank">REST API</a>.
    </p>

</div>
{% endblock %}
