{#
<a href="https://oer.geant.org/" target="_blank"><img src="{{ asset('bundles/pumukitgeantwebtv/images/geant_logo.png') }}" class="img-responsive" style="max-height:100%"></a>
#}


<a href="https://oer.geant.org/" target="_blank" class="visible-lg"
   style="color: #333333; font-size: 28px; font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif; font-weight: 400; letter-spacing: -1px; line-height: 1.1; text-transform: capitalize; ">
  <img src="{{ asset('bundles/pumukitgeantwebtv/up2u/Logo_UP2U_120x120.png') }}" class="img-responsive" style="display:initial;">
  Up to University
</a>


<a href="https://oer.geant.org/" target="_blank" class="hidden-lg">
  <img src="{{ asset('bundles/pumukitgeantwebtv/up2u/Logo_UP2U_120x120.png') }}" class="img-responsive" style="display:initial;height:60px">
</a>
