<div class='fancy-header' align="center">
    <br>
    <h2>
        <b>Welcome to the edu<font color="#e81657">OER</font> Portal </b>
    </h2>
    <br>
    <div class="row">
        <div class="col-xs-12">
        {{ render(controller('PumukitWebTVBundle:Search:filter')) }}
        </div>
    </div>
</div>
